.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #0598ff;
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: white;
    -fx-text-fill: #0597fd;

}

.list-cell:filled:hover {
    -fx-background-color: #4c97e7;
    -fx-text-fill : white;
}

.titled-pane > .title {
    -fx-background-color: #4c97e7;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.titled-pane .content {
    -fx-background-radius: 10px;
}

.titled-pane > .title > .header {
    -fx-background-color: #4c97e7;
}

.titled-pane > .title > .header > .text {
    -fx-border-color: transparent;
}

